<!DOCTYPE html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Problem Set Generator">
        <meta charset="UTF-8">
        <link rel="stylesheet" href="/css/main.css">
        <link rel="stylesheet" href="/css/problems.css">
        <script src="js/main.js"></script>
        <script>
            console.log("<%=problems%>")
        </script>
    </head>
    <body>
        <div style="padding-top: 10rem"></div>
        <div class="container-1">
            <h1 style="line-height: 100%;">Gen. Physics 203 Review Problems</h1>
            <div class="problem-list">
                <div class="problem">
                    <div class="p-left">
                        <button class="circle" style="background-color:#8B90FF"><img src="/svg/regen.svg" style="position: relative;top:1px"></button>
                        <button class="circle" style="background-color:#68E7A2"><img src="/svg/check.svg" style="position: relative;top:2px"></button>
                        <div style="padding-bottom: 1rem"></div>
                    </div>
                    <div class="p-main">
                        <span>
                            The blades of a fan running at low speed turn at 290 rpm. When the fan is switched to high speed, the rotation rate increases uniformly to 470 rpm in 5.65 s. What is the magnitude of the angular acceleration of the blades?
                        </span>
                        <div style="position: relative;">
                            <input type="text" id="q_id_answer">
                            <label for="q_id_answer"> rad/s^2</label>
                        </div>
                    </div>
                    <div class="p-right">
                        <img src="https://general.physics.rutgers.edu/gifs/CJ/10-8b.jpg">
                    </div>
                    <span style="color:gray; position: absolute; bottom: 1rem;left:1rem">hw8</span>
                </div>
                <hr>
                <div class="problem">
                    <div class="p-left">
                        <button class="circle" style="background-color:#8B90FF"><img src="/svg/regen.svg" style="position: relative;top:1px"></button>
                        <button class="circle" style="background-color:#68E7A2"><img src="/svg/check.svg" style="position: relative;top:2px"></button>
                        <div style="padding-bottom: 1rem"></div>
                    </div>
                    <div class="p-main">
                        <span>
                            A 1.85 kg box rests on a plank that is inclined at an angle of 69.0° above the horizontal. The upper end of the box is attached to a spring with a force constant of 21.0 N/m, as shown in the figure. If the coefficient of static friction between the box and the plank is 0.29, what is the maximum amount the spring can be stretched and the box remain at rest?
                        </span>
                        <div style="position: relative;">
                            <input type="text" id="q_id_answer">
                            <label for="q_id_answer"> m</label>
                        </div>
                    </div>
                    <span style="color:gray; position: absolute; bottom: 1rem;left:1rem">hw8</span>
                </div>
            </div>
        </div>
    </body>
</html>