<!DOCTYPE html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Problem Set Generator">
        <meta charset="UTF-8">
        <link rel="stylesheet" href="/css/main.css">
        <link rel="stylesheet" href="/css/problems.css">
        <script src="js/main.js"></script>
    </head>
    <body>
        <div style="padding-top: 10rem"></div>
        <div class="container-1">
            <div style="padding-top: 6px"></div>
            <div class="problem-list">
                <div class="problem">
                    <div class="p-left">
                        <button class="circle" style="background-color:#8B90FF"><img src="/svg/regen.svg" style="position: relative;top:1px"></button>
                        <button class="circle" style="background-color:#68E7A2"><img src="/svg/check.svg" style="position: relative;top:2px"></button>
                        <div style="padding-bottom: 1rem"></div>
                    </div>
                    <div class="p-main">
                        The blades of a fan running at low speed turn at 290 rpm. When the fan is switched to high speed, the rotation rate increases uniformly to 470 rpm in 5.65 s. What is the magnitude of the angular acceleration of the blades?
                    </div>
                    <div class="p-right">
                        <img src="https://general.physics.rutgers.edu/gifs/CJ/10-8b.jpg">
                    </div>
                    
                    <span style="color:gray; position: absolute; bottom: 1rem;left:1rem">hw8</span>
                </div>
            </div>
        </div>
    </body>
</html>