@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap');

html, body {
    margin: 0;
    padding: 0;
    background-color: #14213d;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1 {line-height: 50%}

.container-1 {
    padding: 0rem 2rem 0rem 2rem;
    background-color: #fff;
    border-radius: 6px;
    max-width: max-content;
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto', sans-serif;
}

.list {
    display: flex;
    flex-direction: column;
    gap: 6px;
    overflow-y: scroll;
}

button[disabled=disabled], button[disabled=disabled]:hover{
    background-color: gray;
    cursor: default
}

.button {
    border: none;
    padding: 1em;
    border-radius: 4px;

    color: aliceblue;
    font-weight: bolder;

    background-color: #00bb80;
    transition: all 0.2s;
}

.button:hover{
    cursor: pointer;
    background-color: #4cdbae;
}

input[type="number"] {
    background: none;
    border: none;
    background-color: #fff;
}

.number-input {
    background-color: #e5e5e5;
    border-radius: 6px;
    padding: 6px;
}

.checkbox {
    background-color: #e5e5e5;
    border-radius: 6px;
    padding: 8px;
    padding-right: 4rem;
    margin-left: 1rem;
    margin-right: 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px
}

.checkbox > input[type="checkbox"] {
    -webkit-appearance:none;
    background-color: white;
    border: none;
    border-radius: 4px;
    width: 20px;
    height: 20px;
    transition: background-color 0.2s;
}

.checkbox > input[type="checkbox"]:checked {
    background-color: #0085FF
}

.checkbox > input[type="checkbox"]:hover {
    cursor: pointer;
}